.largeBlackText{
	font-size: 32px; 
	font-weight: 700;
}
.blackItalicParagraphText p{
	font-style: italic; 
	margin-bottom: 10px; 
	color: black;
}
.blueHiderLinkThing{
	color: blue; 
	text-decoration: underline; 
	cursor: pointer;
}
.list1{
	visibility:hidden;
}
.note{
	color: aqua; 
	background: blue; 
	padding: 10px;
}
.highlightedBlackText {
	font-weight: bold; 
	color: blue; 
}